main {
  background-color: #851f1b; /* café oscuro */
  min-height: 100vh;
  padding: 40px;
  font-family: 'Georgia', serif;
}

h1 {
  color: #d7ccc8; /* beige elegante */
  margin-bottom: 20px;
}

p {
  color: #efebe9; /* beige claro */
  font-size: 18px;
  line-height: 1.6;
}

